<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Xenon Boostrap Admin Panel" />
    <meta name="author" content="${session.people}" />

    <title>河北省科技创新年报统计系统</title>

    <link rel="stylesheet" href="http://fonts.useso.com/css?family=Arimo:400,700,400italic">
    <link rel="stylesheet" href="/css/fonts/linecons/css/linecons.css">
    <link rel="stylesheet" href="/css/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/xenon-core.css">
    <link rel="stylesheet" href="/css/xenon-forms.css">
    <link rel="stylesheet" href="/css/xenon-components.css">
    <link rel="stylesheet" href="/css/xenon-skins.css">
    <link rel="stylesheet" href="/css/custom.css">

    <script src="/js/jquery-1.11.1.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
           select {
                   width: 200px;
                   padding: 5px;
                }
            .code-print{
                    box-sizing: border-box;
                    padding:10px;
                    margin-top:20px;
                    width:200px;
                    border:1px solid blue;
                }
        </style>

</head>
<body  ng-app="areaApp">


<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

    <!-- Add "fixed" class to make the sidebar fixed always to the browser viewport. -->
    <!-- Adding class "toggle-others" will keep only one menu item open at a time. -->
    <!-- Adding class "collapsed" collapse sidebar root elements and show only icons. -->
    <div class="sidebar-menu toggle-others">

        <div class="sidebar-menu-inner">

            <header class="logo-env">

                <h4>
                    <b>
                        <a style="color:#4e84a6">河北省科技创新年报统计系统</a>
                    </b>
                </h4>

            </header>



            <ul id="main-menu" class="main-menu">
                <li class="opened active">
                    <a href="main">
                        <i class="linecons-cog"></i>
                        <span class="title">封面</span>
                    </a>

                </li>
                <li >
                    <a href="1">
                        <i class="linecons-attach"></i>
                        <span class="title">一、基本信息</span>
                    </a>
                </li>

                <li>
                    <a href="2">
                        <i class="linecons-beaker"></i>
                        <span class="title">二、主要研究方向和体系结构</span>
                    </a>
                    <ul>
                        <li>
                            <a href="2_1">
                                <span class="title">主要研究方向</span>
                            </a>
                        </li>
                        <li>
                            <a href="2_2">
                                <span class="title">平台内设机构</span>
                            </a>
                        </li>
                        <li>
                            <a href="2_3">
                                <span class="title">检验检测机构</span>
                            </a>
                        </li>
                        <li>
                            <a href="2_4">
                                <span class="title">中试生产线</span>
                            </a>
                        </li>
                        <li>
                            <a href="2_5">
                                <span class="title">可向社会提供的特色服务</span>
                            </a>
                        </li>
                    </ul>

                </li>

                <li>
                    <a href="3">
                        <i class="linecons-calendar"></i>
                        <span class="title">三、人员情况</span>
                    </a>
                    <ul>
                        <li>
                            <a href="3_1">
                                <span class="title">现有人才列表</span>
                            </a>
                        </li>
                        <li>
                            <a href="3_2">
                                <span class="title">年内新增固定人员列表</span>
                            </a>
                        </li>
                        <li>
                            <a href="3_3">
                                <span class="title">年内减少人员列表</span>
                            </a>
                        </li>
                        <li>
                            <a href="3_4">
                                <span class="title">人员基本情况汇总表</span>
                            </a>
                        </li>
                        <li>
                            <a href="3_5">
                                <span class="title">固定人员构成</span>
                            </a>
                        </li>
                        <li>
                            <a href="3_6">
                                <span class="title">流动人员情况</span>
                            </a>
                        </li>
                        <li>
                            <a href="3_7">
                                <span class="title">现有固定人员、流动人员中高层次人才列表</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="4">
                        <i class="linecons-star"></i>
                        <span class="title">四、科研用房和仪器设备</span>
                    </a>
                    <ul>
                        <li>
                            <a href="4_1">
                                <span class="title">科研和办公用房</span>
                            </a>
                            <a href="4_2">
                                <span class="title">仪器设备</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-content">

        <!-- User Info, Notifications and Menu Bar -->
        <nav class="navbar user-info-navbar" role="navigation">

            <!-- Left links for user info navbar -->
            <ul class="user-info-menu left-links list-inline list-unstyled">

                <li class="hidden-sm hidden-xs">
                    <a href="#" data-toggle="sidebar">
                        <i class="fa-bars"></i>
                    </a>
                </li>
            </ul>


            <ul class="user-info-menu right-links list-inline list-unstyled">

                <li class="search-form"><!-- You can add "always-visible" to show make the search input visible -->

                    <form action="search">
                        <input type="text" name="s" class="form-control search-field" placeholder="Type to search..." />

                        <button type="submit" class="btn btn-link">
                            <i class="linecons-search"></i>
                        </button>
                    </form>

                </li>

            </ul>

        </nav>
<!--        <div ng-controller="GetAreaCodeController">-->
<!--            <div>-->
<!--                &lt;!&ndash;ng-options中key作为select的value绑定到ng-model（就是省市区的编号),value为省市区的名字显示在下拉列表中&ndash;&gt;-->
<!--                <select ng-model="areaObj.addressProvince"-->
<!--                        ng-change="areaObj.addressCity=undefined;areaObj.addressDistrict=undefined"-->
<!--                        ng-options="key as value for (key,value) in DISTRICTS['100000']">-->
<!--                    <option value="">省</option>-->
<!--                </select>-->
<!--                <select ng-model="areaObj.addressCity"-->
<!--                        ng-change="areaObj.addressDistrict=undefined;"-->
<!--                        ng-options="key as value for (key,value) in DISTRICTS[areaObj.addressProvince]">-->
<!--                    <option value="">市</option>-->
<!--                </select>-->
<!--                <select class="form-control form-control-new"-->
<!--                        ng-model="areaObj.addressDistrict"-->
<!--                        ng-options="key as value for (key,value) in DISTRICTS[areaObj.addressCity]">-->
<!--                    <option value="">区</option>-->
<!--                </select>-->
<!--            </div>-->
<!--            <div class="code-print">-->
<!--                <p>【县级市没有区！】</p>-->
<!--                <p>省编号：<span ng-bind="areaObj.addressProvince"></span></p>-->
<!--                <p>市编号：<span ng-bind="areaObj.addressCity"></span></p>-->
<!--                <p>区编号：<span ng-bind="areaObj.addressDistrict"></span></p>-->
<!--                <p>最终编号:<span ng-bind="areaObj.getAreaCode(areaObj.addressProvince, areaObj.addressCity, areaObj.addressDistrict)"></span></p>-->
<!--            </div>-->
<!--        </div>-->
        <form action="sss">
        <div ng-controller="GetAreaCodeController">

            <!--ng-options中key作为select的value绑定到ng-model（就是省市区的编号),value为省市区的名字显示在下拉列表中-->

            <select name="sheng" id="sheng" ng-model="areaObj.addressProvince"

                    ng-change="areaObj.addressCity=undefined;areaObj.addressDistrict=undefined"

                    ng-options="key as value for (key,value) in DISTRICTS['100000']">

                <option value="">省</option>

            </select>

            <select name="shi" id="shi" ng-model="areaObj.addressCity"

                    ng-change="areaObj.addressDistrict=undefined;"

                    ng-options="key as value for (key,value) in DISTRICTS[areaObj.addressProvince]">

                <option value="">市</option>

            </select>

            <select name="qu" id="qu"

                    ng-model="areaObj.addressDistrict"

                    ng-options="key as value for (key,value) in DISTRICTS[areaObj.addressCity]">

                <option value="">区</option>

            </select>
<!--            <div class="code-print">&ndash;&gt;-->
<!--                                <p>【县级市没有区！】</p>-->
<!--                                <p>省编号：<span ng-bind="areaObj.addressProvince"></span></p>-->
<!--                                <p>市编号：<span ng-bind="areaObj.addressCity"></span></p>-->
<!--                                <p>区编号：<span ng-bind="areaObj.addressDistrict"></span></p>-->
<!--                                <p>最终编号:<span ng-bind="areaObj.getAreaCode(areaObj.addressProvince, areaObj.addressCity, areaObj.addressDistrict)"></span></p>-->
<!--                            </div>-->
        </div><br>
            <button type="submit" class="btn btn-default" >查询</button>
        </form>
        <li th:if="${session.aaa==false}">
            <div class="alert alert-danger" role="alert">抱歉，没找到！</div>
        </li>
        <form th:if="${session.aaa==true}">
            <div class="alert alert-danger" role="alert">找到！</div>
            <table class="table table-hover table-striped">
                <tr>
                    <td>平台名称:</td>
                    <td>平台编号:</td>
                    <td>批准年月:</td>
                    <td>批准文号:</td>
                    <td>技术领域:</td>
                    <td>平台级别:</td>
                    <td>所在市县:</td>

                </tr>
                <tr>
                    <td th:text="${session.list1}"></td>
                    <td th:text="${session.list2}"></td>
                    <td th:text="${session.list3}"></td>
                    <td th:text="${session.list4}"></td>
                    <td th:text="${session.list5}"></td>
                    <td th:text="${session.list6}"></td>
                    <td th:text="${session.list7}"></td>
                </tr>
                <tr th:if="${session.bbb==true}">
                    <td th:text="${session.list14}"></td>
                    <td th:text="${session.list15}"></td>
                    <td th:text="${session.list16}"></td>
                    <td th:text="${session.list17}"></td>
                    <td th:text="${session.list18}"></td>
                    <td th:text="${session.list19}"></td>
                    <td th:text="${session.list20}"></td>
                </tr>
                <tr th:if="${session.ccc==true}">
                    <td th:text="${session.list27}"></td>
                    <td th:text="${session.list28}"></td>
                    <td th:text="${session.list29}"></td>
                    <td th:text="${session.list30}"></td>
                    <td th:text="${session.list31}"></td>
                    <td th:text="${session.list32}"></td>
                    <td th:text="${session.list33}"></td>
                </tr>
                <tr th:if="${session.ddd==true}">
                    <td th:text="${session.list40}"></td>
                    <td th:text="${session.list41}"></td>
                    <td th:text="${session.list42}"></td>
                    <td th:text="${session.list43}"></td>
                    <td th:text="${session.list44}"></td>
                    <td th:text="${session.list45}"></td>
                    <td th:text="${session.list46}"></td>
                </tr>
                <tr th:if="${session.eee==true}">
                    <td th:text="${session.list53}"></td>
                    <td th:text="${session.list54}"></td>
                    <td th:text="${session.list55}"></td>
                    <td th:text="${session.list56}"></td>
                    <td th:text="${session.list57}"></td>
                    <td th:text="${session.list58}"></td>
                    <td th:text="${session.list59}"></td>
                </tr>
            </table>
        </form>
        <script src="/js/angular.js"></script>

        <script src="/js/areaCodes.js"></script>
<!--        <table border="1" cellpadding="4" width="300" align="center">-->
<!--            <tr bgcolor="gray">-->
<!--                <td>人员情况</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>姓名:</td>-->
<!--                <td>性别:</td>-->
<!--                <td>出生年月:</td>-->
<!--                <td>学历:</td>-->
<!--                <td>学位:</td>-->
<!--                <td>毕业学校:</td>-->
<!--                <td>所学专业:</td>-->
<!--                <td>职称:</td>-->
<!--                <td>人才层次:</td>-->
<!--                <td>固定/流动:</td>-->
<!--                <td>工作性质:</td>-->
<!--                <td>人员状态:</td>-->
<!--                <td>人事关系所在单位:</td>-->

<!--            </tr>-->
<!--            <tr>-->
<!--                <td th:text="${session.people.getName()}"></td>-->
<!--                <td th:text="${session.people.getSex()}"></td>-->
<!--                <td th:text="${session.people.getYear()}"></td>-->
<!--                <td th:text="${session.people.getXl()}"></td>-->
<!--                <td th:text="${session.people.getXw()}"></td>-->
<!--                <td th:text="${session.people.getSchool()}"></td>-->
<!--                <td th:text="${session.people.getZy()}"></td>-->
<!--                <td th:text="${session.people.getZc()}"></td>-->
<!--                <td th:text="${session.people.getRccc()}"></td>-->
<!--                <td th:text="${session.people.getGd()}"></td>-->
<!--                <td th:text="${session.people.getGzxz()}"></td>-->
<!--                <td th:text="${session.people.getRyzt()}"></td>-->
<!--                <td th:text="${session.people.getRsdw()}"></td>-->
<!--            </tr>-->
<!--        </table>-->

        <footer class="main-footer sticky footer-type-1">

            <div class="footer-inner">

                <!-- Add your copyright text here -->
                <div class="footer-text">
                    &copy; 2019
                    <strong>HeBei</strong>
                    More Templates <a target="_blank" title="年报">年报管理</a>
                </div>


                <!-- Go to Top Link, just add rel="go-top" to any link to add this functionality -->
                <div class="go-up">

                    <a href="#" rel="go-top">
                        <i class="fa-angle-up"></i>
                    </a>

                </div>

            </div>

        </footer>
    </div>
</div>






<!-- Bottom Scripts -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/TweenMax.min.js"></script>
<script src="/js/resizeable.js"></script>
<script src="/js/joinable.js"></script>
<script src="/js/xenon-api.js"></script>
<script src="/js/xenon-toggles.js"></script>


<!-- JavaScripts initializations and stuff -->
<script src="/js/xenon-custom.js"></script>

</body>
</html>